In [157]:
#Import libraries
import pandas as pd
import numpy as np
import os

In [158]:
for f in os.listdir('/Users/leilaizmailova/Desktop/EPL_python/Project Files'):
    print(f)

Photo-Median-AVG.png
EPL_Players(Step_2).xlsm
Photo - fbref_columns.png
.DS_Store
Rate formula.png
EPL_Players(Step_3).xlsm
EPL_Players(Step_1).xlsm
Photo Vlookup.png
Photo Wage level range.png
Photo-Players.png
photo.png
Photo Wage level.png
EPL_Players_Basics.xlsm
EPL_Players_Finalxlsm.xlsm
EPL_Players_Finalxlsm.csv
Photo table percentile.png
Photo percentile.png
Photo-Rating.png
EPL_Players_Python.xlsx
Photo-Players-Rating.png

In [159]:
#Create path to excel file
path = '/Users/leilaizmailova/Desktop/EPL_python/Project Files/EPL_Players_Python.xlsx'

In [160]:
#Create path by player positions
epl_def = pd.read_excel(path, sheet_name="Def")
epl_gk = pd.read_excel(path, sheet_name="GK")
epl_mf = pd.read_excel(path, sheet_name="Mid")
epl_attack = pd.read_excel(path, sheet_name="Attack")
epl_subs = pd.read_excel(path, sheet_name="Subs")
epl_wage = pd.read_excel(path, sheet_name="Wage")

In [161]:
epl_wage

                Player Nation  Age  Year_Wage Wage_Level
0    Cristiano Ronaldo    POR   36   32567928       High
1      Kevin De Bruyne    BEL   30   25276601       High
2         David de Gea    ESP   30   23696813       High
3         Jadon Sancho    ENG   21   22117026       High
4       Raphaël Varane    FRA   28   21485111       High
..                 ...    ...  ...        ...        ...
549        Kwadwo Baah    ENG   18      60761        Low
550     Sean Longstaff    ENG   23      60761        Low
551       Flynn Clarke    NaN   18      48609        Low
552      Liam McCarron    SCO   20      48609        Low
553      Thierry Small    ENG   16      24304        Low

[554 rows x 5 columns]

In [162]:
# Add Thousand Comma Separators to 'Year_Wage' column
epl_wage["Year_Wage"] ='$'+ epl_wage["Year_Wage"].map('{:,.0f}'.format)

# Goalkeeper

In [163]:
epl_gk.head()

,Player,Nation,Team,Age,Games,Min,Saves,Save_perc,Rating
0,Alisson,BRA,Liverpool,28,36,3240,73,0.753,★★★★
1,Alphonse Areola,FRA,West Ham,28,1,90,2,0.667,★★
2,Kepa Arrizabalaga,ESP,Chelsea,26,4,360,11,0.846,★★
3,Daniel Bachmann,AUT,Watford,27,12,1080,45,0.638,☆
4,Asmir Begović,BIH,Everton,34,3,270,11,0.588,☆

In [164]:
#Add wage columns to goalkeeper table
epl_gk = epl_gk.merge(epl_wage)

In [165]:
epl_gk.describe()

             Age      Games          Min       Saves  Save_perc
count  42.000000  42.000000    42.000000   42.000000  42.000000
mean   29.071429  18.166667  1628.547619   51.571429   0.657524
std     4.517677  15.347863  1381.328138   45.115647   0.145070
min    20.000000   1.000000    36.000000    1.000000   0.250000
25%    26.250000   2.000000   180.000000    6.250000   0.591000
50%    28.500000  14.500000  1305.000000   45.500000   0.665000
75%    32.750000  35.750000  3217.500000   90.750000   0.731500
max    39.000000  38.000000  3420.000000  139.000000   1.000000

In [166]:
epl_gk.dtypes

Player         object
Nation         object
Team           object
Age             int64
Games           int64
Min             int64
Saves           int64
Save_perc     float64
Rating         object
Year_Wage      object
Wage_Level     object
dtype: object

In [167]:
#Looking for Goalkeepers more than 0 rating and 'Low' wage level
#Sort df by Rating then Save percentage
squad_gk = epl_gk.query('Rating != "☆" and Wage_Level == "Low"')\
                 .sort_values(by = ["Rating","Save_perc"], ascending= False)

squad_gk

,Player,Nation,Team,Age,Games,Min,Saves,Save_perc,Rating,Year_Wage,Wage_Level
34,José Sá,POR,Wolves,28,37,3285,120,0.793,★★★★,"$1,810,680",Low
32,David Raya,ESP,Brentford,25,24,2160,75,0.768,★★★★,"$1,579,788",Low
30,Nick Pope,ENG,Burnley,29,36,3240,116,0.736,★★★★,"$2,211,703",Low
35,Robert Sánchez,ESP,Brighton,23,37,3329,100,0.721,★★★★,"$631,915",Low
8,Martin Dúbravka,SVK,Newcastle Utd,32,26,2340,71,0.679,★★★★,"$2,406,138",Low
24,Emiliano Martínez,ARG,Aston Villa,28,36,3240,93,0.676,★★★★,"$3,001,596",Low
40,Danny Ward,WAL,Leicester City,28,1,90,4,0.800,★★,"$1,263,830",Low
18,Caoimhín Kelleher,IRL,Liverpool,22,2,180,5,0.750,★★,"$376,719",Low
27,Illan Meslier,FRA,Leeds United,21,38,3384,139,0.656,★★,"$1,385,352",Low
20,Tim Krul,NED,Norwich City,33,29,2610,101,0.652,★★,"$1,579,788",Low
13,Ben Foster,ENG,Watford,38,26,2340,63,0.586,★★,"$1,895,745",Low
11,Álvaro Fernández,ESP,Brentford,23,12,1080,46,0.657,½,"$534,697",Low

In [168]:
#Select 2 best GK
squad_gk = squad_gk.iloc[[0,1]]
squad_gk

,Player,Nation,Team,Age,Games,Min,Saves,Save_perc,Rating,Year_Wage,Wage_Level
34,José Sá,POR,Wolves,28,37,3285,120,0.793,★★★★,"$1,810,680",Low
32,David Raya,ESP,Brentford,25,24,2160,75,0.768,★★★★,"$1,579,788",Low

# Defending

In [169]:
epl_def

,Player,Nation,Pos,Team,Age,Min,Pressure,Succ_perc,Blocks,Goal_Assist,Yellow_C,Red_C,Rating
0,Max Aarons,ENG,DF,Norwich City,21,2880.0,434,0.26,86,2,8,0,★★★½
1,Rayan Aït Nouri,FRA,DF,Wolves,20,1827.0,402,0.336,34,3,4,0,★★★★
2,Kristoffer Ajer,NOR,DF,Brentford,23,1998.0,206,0.354,36,4,5,0,★★★½
3,Nathan Aké,NED,DF,Manchester City,26,927.0,70,0.329,12,2,0,0,★½
4,Marc Albrighton,ENG,DF,Leicester City,31,1134.0,289,0.218,27,3,3,0,★★
...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,Adam Masina,MAR,DF,Watford,27,1080.0,162,0.278,29,1,0,0,★★½
115,Arthur Masuaku,COD,DF,West Ham,27,648.0,120,0.325,10,2,1,0,★½
116,Joël Matip,CMR,DF,Liverpool,29,2790.0,210,0.424,38,6,2,0,★★★★½
117,Ben Mee,ENG,DF,Burnley,31,1836.0,109,0.358,40,3,3,0,★★★
118,Benjamin Mendy,FRA,DF,Manchester City,27,81.0,12,0.167,0,0,0,0,★½

In [170]:
# Add wage column to defend players
epl_def = epl_def.merge(epl_wage)

In [171]:
# Check that we have only DF position
epl_def.Pos.unique()

array(['DF'], dtype=object)

In [172]:
# Looking for average defender stats with Low level wage
epl_def.query('Wage_Level == "Low"') \
        .mean()

<ipython-input-172-d01712d1240e>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  epl_def.query('Wage_Level == "Low"') \

Age              25.652778
Min            1431.375000
Pressure        173.347222
Succ_perc         0.311361
Blocks           31.402778
Goal_Assist       1.430556
Yellow_C          3.097222
Red_C             0.222222
dtype: float64

In [173]:
# Create filter for defender criteria
# using above given stats
mid_median = 'Pressure >= 173 & Blocks >=31 & Yellow_C <= 3 & Min >= 1431 & Wage_Level == "Low" '

In [174]:
#Look for defenders with the highest pressure then success blocks percentage
fullback = epl_def.query(mid_median)\
                  .sort_values(["Pressure","Succ_perc"], ascending=False)\
                    .head(5)
fullback

,Player,Nation,Pos,Team,Age,Min,Pressure,Succ_perc,Blocks,Goal_Assist,Yellow_C,Red_C,Rating,Year_Wage,Wage_Level
73,Rico Henry,ENG,DF,Brentford,24,2772.0,396,0.268,74,3,2,0,★★★★★,"$753,437",Low
100,Valentino Livramento,ENG,DF,Southampton,18,2205.0,332,0.331,45,2,2,0,★★★★½,"$315,958",Low
90,Robin Koch,GER,DF,Leeds United,25,1575.0,299,0.334,33,0,3,0,★★★½,"$2,916,531",Low
71,Grant Hanley,SCO,DF,Norwich City,29,2898.0,269,0.379,77,1,2,0,★★★★½,"$1,263,830",Low
108,Solly March,ENG,DF,Brighton,27,1746.0,260,0.277,33,2,1,0,★★★★½,"$1,895,745",Low

In [175]:
#Look DF who best in winning the ball
winner = epl_def.query(mid_median)\
                  .sort_values(["Succ_perc","Blocks"], ascending=False)\
                  .head(5)

winner

,Player,Nation,Pos,Team,Age,Min,Pressure,Succ_perc,Blocks,Goal_Assist,Yellow_C,Red_C,Rating,Year_Wage,Wage_Level
89,Max Kilman,ENG,DF,Wolves,24,2691.0,240,0.383,52,1,3,0,★★★½,"$947,873",Low
71,Grant Hanley,SCO,DF,Norwich City,29,2898.0,269,0.379,77,1,2,0,★★★★½,"$1,263,830",Low
90,Robin Koch,GER,DF,Leeds United,25,1575.0,299,0.334,33,0,3,0,★★★½,"$2,916,531",Low
100,Valentino Livramento,ENG,DF,Southampton,18,2205.0,332,0.331,45,2,2,0,★★★★½,"$315,958",Low
57,Kiko Femenía,ESP,DF,Watford,30,2142.0,227,0.33,39,5,2,0,★★★★★,"$1,421,809",Low

In [176]:
#Look DF who help attacking
wingback = epl_def.query(mid_median)\
                  .sort_values("Goal_Assist", ascending=False)\
                  .head(5)

wingback

,Player,Nation,Pos,Team,Age,Min,Pressure,Succ_perc,Blocks,Goal_Assist,Yellow_C,Red_C,Rating,Year_Wage,Wage_Level
57,Kiko Femenía,ESP,DF,Watford,30,2142.0,227,0.33,39,5,2,0,★★★★★,"$1,421,809",Low
73,Rico Henry,ENG,DF,Brentford,24,2772.0,396,0.268,74,3,2,0,★★★★★,"$753,437",Low
103,Matthew Lowton,ENG,DF,Burnley,32,1773.0,188,0.324,45,3,3,1,★★★½,"$1,579,788",Low
100,Valentino Livramento,ENG,DF,Southampton,18,2205.0,332,0.331,45,2,2,0,★★★★½,"$315,958",Low
108,Solly March,ENG,DF,Brighton,27,1746.0,260,0.277,33,2,1,0,★★★★½,"$1,895,745",Low

In [177]:
# Concatenate selected defend players
defender = pd.concat([winner, fullback, wingback], ignore_index=True, sort=False)

In [247]:
# Select 8 defenders with the highest rating and blocks
squad_def = defender.drop_duplicates().sort_values(["Rating","Blocks"], ascending=False).head(8)
squad_def

,Player,Nation,Pos,Team,Age,Min,Pressure,Succ_perc,Blocks,Goal_Assist,Yellow_C,Red_C,Rating,Year_Wage,Wage_Level
5,Rico Henry,ENG,DF,Brentford,24,2772.0,396,0.268,74,3,2,0,★★★★★,"$753,437",Low
4,Kiko Femenía,ESP,DF,Watford,30,2142.0,227,0.33,39,5,2,0,★★★★★,"$1,421,809",Low
1,Grant Hanley,SCO,DF,Norwich City,29,2898.0,269,0.379,77,1,2,0,★★★★½,"$1,263,830",Low
3,Valentino Livramento,ENG,DF,Southampton,18,2205.0,332,0.331,45,2,2,0,★★★★½,"$315,958",Low
9,Solly March,ENG,DF,Brighton,27,1746.0,260,0.277,33,2,1,0,★★★★½,"$1,895,745",Low
0,Max Kilman,ENG,DF,Wolves,24,2691.0,240,0.383,52,1,3,0,★★★½,"$947,873",Low
12,Matthew Lowton,ENG,DF,Burnley,32,1773.0,188,0.324,45,3,3,1,★★★½,"$1,579,788",Low
2,Robin Koch,GER,DF,Leeds United,25,1575.0,299,0.334,33,0,3,0,★★★½,"$2,916,531",Low

# Midfielder

In [179]:
epl_mf

,Player,Nation,Pos,Team,Age,Min,Passes,Pass_perc,Goal_Assist,Key_pass,Rating
0,Thiago Alcántara,ESP,MF,Liverpool,30,1530.0,1325,0.896,5,28,★★★★★
1,Allan,BRA,MF,Everton,30,2187.0,757,0.783,2,15,★★
2,Dele Alli,ENG,MF,Everton,25,342.0,114,0.75,0,7,☆
3,Dele Alli,ENG,MFFW,Tottenham,25,657.0,167,0.78,1,2,☆
4,Miguel Almirón,PAR,MFFW,Newcastle Utd,27,1719.0,406,0.804,1,16,★★½
...,...,...,...,...,...,...,...,...,...,...,...
161,James Ward-Prowse,ENG,MF,Southampton,26,3213.0,1671,0.784,15,70,★★★★★
162,Ashley Westwood,ENG,MF,Burnley,31,2286.0,859,0.701,3,31,★★½
163,Joe Willock,ENG,MF,Newcastle Utd,21,2034.0,438,0.808,2,16,★★★
164,Harry Winks,ENG,MF,Tottenham,25,909.0,573,0.866,1,11,★
165,Granit Xhaka,SUI,MFDF,Arsenal,28,2331.0,1346,0.87,3,35,★★★★½

In [180]:
# Add wage columns to MF table
epl_mf = epl_mf.merge(epl_wage)

In [181]:
# Check that we have only MF related positions
epl_mf.Pos.unique()

array(['MF', 'MFFW', 'MFDF'], dtype=object)

In [182]:
# Looking for average midfielder stats with Low level wage
epl_mf.query('Wage_Level == "Low"') \
      .mean()

<ipython-input-182-3391ac514ed4>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  epl_mf.query('Wage_Level == "Low"') \

Age              24.356164
Min            1343.958904
Passes          487.164384
Pass_perc         0.769260
Goal_Assist       2.520548
Key_pass         14.986301
dtype: float64

In [183]:
# Create filter for defender criteria using above given stats
Median_mf = 'Min >= 1343 & Passes >= 487 & Goal_Assist >= 2 & Key_pass >=14 & Wage_Level =="Low"'

In [184]:
#Looking for general MF
gen_mf = epl_mf.query(Median_mf)\
               .sort_values(["Passes","Pass_perc"], ascending=False)\
               .head(5)

gen_mf

,Player,Nation,Pos,Team,Age,Min,Passes,Pass_perc,Goal_Assist,Key_pass,Rating,Year_Wage,Wage_Level
118,Declan Rice,ENG,MF,West Ham,22,3177.0,1950,0.907,5,24,★★★★★,"$194,435",Low
147,James Ward-Prowse,ENG,MF,Southampton,26,3213.0,1671,0.784,15,70,★★★★★,"$2,843,618",Low
142,Youri Tielemans,BEL,MF,Leicester City,24,2628.0,1437,0.823,10,40,★★★★★,"$2,090,180",Low
106,Christian Nørgaard,DEN,MF,Brentford,27,3051.0,1319,0.798,7,29,★★★★★,"$1,263,830",Low
82,Douglas Luiz,BRA,MF,Aston Villa,23,2718.0,1246,0.833,5,36,★★★★,"$2,065,876",Low

In [185]:
# Looking for attacking MF
attack_mf = epl_mf.query(Median_mf)\
                  .sort_values(["Goal_Assist", "Key_pass"], ascending=False)\
                  .head(5)

attack_mf

,Player,Nation,Pos,Team,Age,Min,Passes,Pass_perc,Goal_Assist,Key_pass,Rating,Year_Wage,Wage_Level
147,James Ward-Prowse,ENG,MF,Southampton,26,3213.0,1671,0.784,15,70,★★★★★,"$2,843,618",Low
135,Emile Smith Rowe,ENG,MFFW,Arsenal,21,1917.0,691,0.852,12,29,★★★★,"$2,527,660",Low
42,Conor Gallagher,ENG,MF,Crystal Palace,21,2844.0,890,0.763,11,35,★★★,"$2,017,267",Low
142,Youri Tielemans,BEL,MF,Leicester City,24,2628.0,1437,0.823,10,40,★★★★★,"$2,090,180",Low
48,Demarai Gray,ENG,MFFW,Everton,25,2340.0,544,0.719,9,41,★★★,"$2,795,009",Low

In [186]:
# Concatenate selected MF players
all_mf = pd.concat([gen_mf, attack_mf], ignore_index=True, sort=False)

In [253]:
# Select 5 MF players with highest Rating and Goal+Pass
squad_mf = all_mf.drop_duplicates()\
                 .sort_values(["Goal_Assist", "Rating"], ascending=False,ignore_index=True)\
                 .head(5)
squad_mf

,Player,Nation,Pos,Team,Age,Min,Passes,Pass_perc,Goal_Assist,Key_pass,Rating,Year_Wage,Wage_Level
0,James Ward-Prowse,ENG,MF,Southampton,26,3213.0,1671,0.784,15,70,★★★★★,"$2,843,618",Low
1,Emile Smith Rowe,ENG,MFFW,Arsenal,21,1917.0,691,0.852,12,29,★★★★,"$2,527,660",Low
2,Conor Gallagher,ENG,MF,Crystal Palace,21,2844.0,890,0.763,11,35,★★★,"$2,017,267",Low
3,Youri Tielemans,BEL,MF,Leicester City,24,2628.0,1437,0.823,10,40,★★★★★,"$2,090,180",Low
4,Demarai Gray,ENG,MFFW,Everton,25,2340.0,544,0.719,9,41,★★★,"$2,795,009",Low

# Attacking

In [188]:
epl_attack

,Player,Nation,Pos,Team,Age,Min,Shots,Succ_Shot_perc,Shot_create,Goal_create,Goals,Assists,Rating
0,Che Adams,SCO,FW,Southampton,25,2043.0,49,0.49,51,4,7,3,★★★★½
1,Marc Albrighton,ENG,FWDF,Leicester City,31,1134.0,4,0.25,19,2,1,2,★
2,Michail Antonio,JAM,FW,West Ham,31,2970.0,83,0.325,102,17,10,8,★★★★
3,Adam Armstrong,ENG,FW,Southampton,24,1413.0,47,0.298,29,3,2,2,★★½
4,Pierre-Emerick Aubameyang,GAB,FW,Arsenal,32,1035.0,33,0.485,23,3,4,1,★★★
...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,Chris Wood,NZL,FW,Burnley,29,1368.0,31,0.323,21,2,3,0,★
140,Andriy Yarmolenko,UKR,FW,West Ham,31,315.0,11,0.455,7,0,1,0,★
141,Nathan Young-Coombes,ENG,FW,Brentford,18,0.0,0,%,0,0,0,0,☆
142,Wilfried Zaha,CIV,FW,Crystal Palace,28,2763.0,62,0.419,104,12,14,1,★★★★★
143,Hakim Ziyech,MAR,FWMF,Chelsea,28,1323.0,53,0.358,64,7,4,3,★★★★★

In [189]:
epl_attack.dtypes

Player             object
Nation             object
Pos                object
Team               object
Age                 int64
Min               float64
Shots               int64
Succ_Shot_perc     object
Shot_create         int64
Goal_create         int64
Goals               int64
Assists             int64
Rating             object
dtype: object

In [190]:
# Add wage columns to attack table
epl_attack = epl_attack.merge(epl_wage)

In [191]:
# Check we have only FW related positions
epl_attack.Pos.unique()

array(['FW', 'FWDF', 'FWMF'], dtype=object)

In [192]:
# Look for average forward stats with Low level wage
epl_attack.query('Wage_Level == "Low"') \
          .mean()

<ipython-input-192-4461ec5bdfc4>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  epl_attack.query('Wage_Level == "Low"') \

Age              24.254237
Min            1293.864407
Shots            30.237288
Shot_create      34.796610
Goal_create       4.135593
Goals             3.440678
Assists           1.983051
dtype: float64

In [193]:
# Create filter for attacking players criteria using above given stats
attack_median = 'Min >= 1293 and Shots >= 30 and Shot_create >= 34 and Goal_create >= 4 and Age < 30 and Wage_Level == "Low"'

In [194]:
#Looking for strikers
striker = epl_attack.query(attack_median)\
                    .sort_values(["Goals", "Goal_create"], ascending=False)\
                    .head(5)
striker

,Player,Nation,Pos,Team,Age,Min,Shots,Succ_Shot_perc,Shot_create,Goal_create,Goals,Assists,Rating,Year_Wage,Wage_Level
101,Ivan Toney,ENG,FW,Brentford,25,2907.0,83,0.289,80,10,12,5,★★★★,"$1,336,743",Low
94,Bukayo Saka,ENG,FWMF,Arsenal,19,2979.0,95,0.305,142,16,11,7,★★★★,"$1,895,745",Low
26,Emmanuel Dennis,NGA,FWMF,Watford,23,2583.0,61,0.443,91,12,10,6,★★★★★,"$826,350",Low
33,Phil Foden,ENG,FW,Manchester City,21,2124.0,58,0.379,83,13,9,5,★★★★★,"$753,437",Low
107,Leandro Trossard,BEL,FWMF,Brighton,26,2808.0,72,0.361,91,10,8,3,★★★★★,"$2,685,639",Low

In [195]:
# Looking for attack creators
creator = epl_attack.query(attack_median)\
                    .sort_values(["Goal_create", "Shot_create"], ascending=False)\
                    .head(5)
creator

,Player,Nation,Pos,Team,Age,Min,Shots,Succ_Shot_perc,Shot_create,Goal_create,Goals,Assists,Rating,Year_Wage,Wage_Level
94,Bukayo Saka,ENG,FWMF,Arsenal,19,2979.0,95,0.305,142,16,11,7,★★★★,"$1,895,745",Low
33,Phil Foden,ENG,FW,Manchester City,21,2124.0,58,0.379,83,13,9,5,★★★★★,"$753,437",Low
10,Harvey Barnes,ENG,FWMF,Leicester City,23,2097.0,67,0.358,57,13,6,10,★★★★★,"$631,915",Low
26,Emmanuel Dennis,NGA,FWMF,Watford,23,2583.0,61,0.443,91,12,10,6,★★★★★,"$826,350",Low
72,Bryan Mbeumo,FRA,FW,Brentford,21,2907.0,77,0.247,77,12,4,7,★★★★,"$1,263,830",Low

In [196]:
# Looking for assistance forwards
assist_attacker = epl_attack.query(attack_median)\
                            .sort_values(["Assists", "Goal_create"], ascending=False)\
                            .head(5)
assist_attacker

,Player,Nation,Pos,Team,Age,Min,Shots,Succ_Shot_perc,Shot_create,Goal_create,Goals,Assists,Rating,Year_Wage,Wage_Level
10,Harvey Barnes,ENG,FWMF,Leicester City,23,2097.0,67,0.358,57,13,6,10,★★★★★,"$631,915",Low
94,Bukayo Saka,ENG,FWMF,Arsenal,19,2979.0,95,0.305,142,16,11,7,★★★★,"$1,895,745",Low
72,Bryan Mbeumo,FRA,FW,Brentford,21,2907.0,77,0.247,77,12,4,7,★★★★,"$1,263,830",Low
26,Emmanuel Dennis,NGA,FWMF,Watford,23,2583.0,61,0.443,91,12,10,6,★★★★★,"$826,350",Low
11,Saïd Benrahma,ALG,FWMF,West Ham,25,2169.0,63,0.349,69,8,8,6,★★★★★,"$1,263,830",Low

In [197]:
# Concatenate selected FW players
forwards = pd.concat([striker, creator, assist_attacker], ignore_index=True, sort=False)

In [198]:
# Select 6 FW players with highest Goaling stats
squad_attack = forwards.drop_duplicates()\
                       .sort_values(["Goal_create","Goals"], ascending=False)\
                       .head(6)
squad_attack

,Player,Nation,Pos,Team,Age,Min,Shots,Succ_Shot_perc,Shot_create,Goal_create,Goals,Assists,Rating,Year_Wage,Wage_Level
1,Bukayo Saka,ENG,FWMF,Arsenal,19,2979.0,95,0.305,142,16,11,7,★★★★,"$1,895,745",Low
3,Phil Foden,ENG,FW,Manchester City,21,2124.0,58,0.379,83,13,9,5,★★★★★,"$753,437",Low
7,Harvey Barnes,ENG,FWMF,Leicester City,23,2097.0,67,0.358,57,13,6,10,★★★★★,"$631,915",Low
2,Emmanuel Dennis,NGA,FWMF,Watford,23,2583.0,61,0.443,91,12,10,6,★★★★★,"$826,350",Low
9,Bryan Mbeumo,FRA,FW,Brentford,21,2907.0,77,0.247,77,12,4,7,★★★★,"$1,263,830",Low
0,Ivan Toney,ENG,FW,Brentford,25,2907.0,83,0.289,80,10,12,5,★★★★,"$1,336,743",Low

In [254]:
#Create df with all selected players

#Collect all positions selected players to one df
squad_all = pd.concat([squad_gk, squad_def, squad_mf, squad_attack], ignore_index=True, sort=False)

#Give columns names
squad_all = squad_all[['Player','Pos','Nation','Team','Age','Min','Year_Wage','Rating']]

#Assign GK position instead of null value
squad_all = squad_all.fillna('GK')

#Show whole squad
squad_all

,Player,Pos,Nation,Team,Age,Min,Year_Wage,Rating
0,José Sá,GK,POR,Wolves,28,3285.0,"$1,810,680",★★★★
1,David Raya,GK,ESP,Brentford,25,2160.0,"$1,579,788",★★★★
2,Rico Henry,DF,ENG,Brentford,24,2772.0,"$753,437",★★★★★
3,Kiko Femenía,DF,ESP,Watford,30,2142.0,"$1,421,809",★★★★★
4,Grant Hanley,DF,SCO,Norwich City,29,2898.0,"$1,263,830",★★★★½
5,Valentino Livramento,DF,ENG,Southampton,18,2205.0,"$315,958",★★★★½
6,Solly March,DF,ENG,Brighton,27,1746.0,"$1,895,745",★★★★½
7,Max Kilman,DF,ENG,Wolves,24,2691.0,"$947,873",★★★½
8,Matthew Lowton,DF,ENG,Burnley,32,1773.0,"$1,579,788",★★★½
9,Robin Koch,DF,GER,Leeds United,25,1575.0,"$2,916,531",★★★½
10,James Ward-Prowse,MF,ENG,Southampton,26,3213.0,"$2,843,618",★★★★★
11,Emile Smith Rowe,MFFW,ENG,Arsenal,21,1917.0,"$2,527,660",★★★★
12,Conor Gallagher,MF,ENG,Crystal Palace,21,2844.0,"$2,017,267",★★★
13,Youri Tielemans,MF,BEL,Leicester City,24,2628.0,"$2,090,180",★★★★★
14,Demarai Gray,MFFW,ENG,Everton,25,2340.0,"$2,795,009",★★★
15,Bukayo Saka,FWMF,ENG,Arsenal,19,2979.0,"$1,895,745",★★★★
16,Phil Foden,FW,ENG,Manchester City,21,2124.0,"$753,437",★★★★★
17,Harvey Barnes,FWMF,ENG,Leicester City,23,2097.0,"$631,915",★★★★★
18,Emmanuel Dennis,FWMF,NGA,Watford,23,2583.0,"$826,350",★★★★★
19,Bryan Mbeumo,FW,FRA,Brentford,21,2907.0,"$1,263,830",★★★★
20,Ivan Toney,FW,ENG,Brentford,25,2907.0,"$1,336,743",★★★★

In [255]:
squad_all.to_excel("squad_final.xlsx")